@charset "UTF-8";
/* CSS Document */

. {margin: 0; padding: 0;}

@font-face {font-family: 'ChineseRocksRg-Regular'; src: url('../webfonts/2B9A93_0_0.eot');src: url('../webfonts/2B9A93_0_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/2B9A93_0_0.woff') format('woff'),url('../webfonts/2B9A93_0_0.ttf') format('truetype');}

body 	{
		margin: 0; 
		padding: 0; 
		font-family: 'ChineseRocksRg-Regular', Helvetica, Arial, sans-serif; 
		font-weight: normal; 
		font-style: normal; 
		background-color: #F8F8F8; 
		color: #4f3c2e; 
		font-size: 1em; 
		background-image:url(../imgs/halftone.png);
		}
		
p 			{margin-bottom: 1.5em; line-height: 1em;}
h1 			{text-transform:uppercase; line-height: 1.2em;}
.headerNob1 {font-size: 1.875em;}
.headerNob2 {font-size: 1.46em;}

#mainContainer {
	width: 960px;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}

#canvasTetris {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	background-color: #fbf9bc;
	border: 20px solid #4f3c2e;
	width: 250px;
	height: 500px;
	z-index: auto;
}

#menu 		{float: left; width: 50%; text-align: center; margin-top: 90px;}
#menu p 	{font-size: 1.5em; text-align: center; margin: 30px 60px;}
#upcoming 	{display: block; margin: 0 auto; background-color: #fbf9bc; width: 125px; height: 125px; border: 2px solid #4f3c2e;}

#tetrisGame 	{float: left; width: 50%;}
#numbers 		{background-image: url(../imgs/nobunaga.png); background-repeat: no-repeat; background-position: center 40px; height: 215px; z-index: 1; position: relative; margin-bottom: -15px;}
#numbers p 		{color: #ffffff; background-color: #2b313d; padding: 10px 15px; text-align: center;}
#score, #rows	{}
#scoreArea		{float: left; width: 110px; text-align: left; padding-top: 90px;}
#rowArea 		{float: right; width: 110px; text-align: right; padding-top: 90px;}
#scoreArea p, #rowArea p {font-size: 1.125em;}

#menu 		{float: left;}
#numbers 	{}

#stats		{display: none;}
.clear 		{float:none; clear: all;}

#footer {text-align: center; background-color: #4f3c2e; color: #ffffff; padding: 30px; bottom: 0px;}